:root {
  --color-violet: #7541c8;
  --color-grey: #48556a;
  --color-dark: #19212e;
  --color-shadow: #cfcfcf;
  --color-background: #ecf2f8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: var(--color-dark);
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

/* Media */
.media {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

.media__image {
  width: 48px;
  border-radius: 50px;
  border: 5px solid #ffffff80;
  align-self: flex-start; /* Prevents image from stretching to fill up the container */
  margin-right: 1.6rem;
}

.media__name {
  margin: 0.6rem 0 0.4rem;
}

.media__title {
  margin-top: 0;
  opacity: 0.5;
}

/* Attributions */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
