:root {
  --color-violet: #7541c8;
  --color-grey: #48556a;
  --color-dark: #19212e;
  --color-shadow: #cfcfcf;
  --color-background: #ecf2f8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
  background-color: var(--color-background);
}

body {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: var(--color-dark);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

/* Media */
.media {
  display: flex;
  flex-wrap: wrap;
}

.media__image {
  width: 48px;
  border-radius: 50px;
  border: 3px solid #ffffff4d;
  align-self: flex-start; /* Prevents image from stretching to fill up the container */
  margin-right: 1.6rem;
}

.media__name {
  margin: 0.6rem 0 0.4rem;
}

.media__title {
  margin-top: 0;
  opacity: 0.5;
}

/* Card */
.card {
  padding: 3.6rem;
  box-shadow: 0 0 20px 10px var(--color-shadow);
  max-width: 330px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__quotation {
  position: absolute;
  top: 0;
  left: 60%;
  opacity: 0;
}

.card-quoted .card__quotation {
  opacity: 1;
}

.card__text::before {
  content: open-quote;
}

.card__text::after {
  content: close-quote;
}

.card__body {
  position: relative;
  line-height: 2em;
}

.card__body p {
  opacity: 70%;
  line-height: 2rem;
  margin-bottom: 0;
}

.card--violet {
  background-color: var(--color-violet);
}

.card--grey {
  background-color: var(--color-grey);
}

.card--dark {
  background-color: var(--color-dark);
}

.card--light-text {
  color: #eeeeee;
}

/* Attributions */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
